// les couleurs customisées de Bootstrap

$navbar: #313131;
$main: #191919;
$darkuielement: #222222;
$lightuielement: #606060;

$custom-theme-colors: (
  "navbar": $navbar,
  "main": $main,
  "darkuielement": $darkuielement,
  "lightuielement": $lightuielement,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@each $key, $val in $custom-theme-colors {
  .text-#{$key} {
    color: $val;
  }
  .bg-#{$key} {
    background-color: $val;
  }
  .border-#{$key} {
    border-color: $val;
  }
}

$utilities: (
  "width": (
    property: width,
    class: w,
    responsive: true,
    values: (
      25: 25%,
      33: 33%,
      50: 50%,
      66: 66%,
      75: 75%,
      100: 100%,
      auto: auto,
    ),
  ),
);
