@import "updateBS";
@import "../../../vendor/node_modules/bootstrap/scss/bootstrap.scss";
@import "addIntoBS";
@import "../../../vendor/node_modules/bootstrap/scss/bootstrap.scss";

.signUpInput {
  &::placeholder {
    background-color: $light;
    color: $navbar;
  }
}
.btn-darkuielement {
  border: 0.5px solid $light;
  &:hover {
    background-color: $light;
    border-color: $light;
    color: $darkuielement;
    border: 1px solid $light;
  }
}

.btn-lightuielement {
  border: 0.5px solid $light;
  &:hover {
    background-color: $light;
    border-color: $light;
    color: $lightuielement;
  }
}

.shadowlight {
  box-shadow: 10px 10px 20px 0px rgba($light, 0.25);
}
